#This file is for backend (inference server) dependencies. Ros dependecies are installed by docker itself.
fastapi
uvicorn
opencv-python
numpy
websockets

# Force CPU-only torch
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

ultralyticsfastapi 
uvicorn 
opencv-python 
numpy
websockets
ultralytics
